/* 整站通用的css */

tooltip {
    visibility: hidden;
    position: absolute;
    font-size: 11px;
    color: white;
    z-index: 500;
    white-space: nowrap;
}

.hide {
    display: none;
}

.noselect, .tutorial {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently not supported by any browser */
}

.adiv {
    display: block;
    text-decoration: none;
    color: inherit;
}

.tutorial {
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', "Microsoft Yahei", serif;
    font-size: 32px;
    padding: 16px;
    margin: 0px;
    z-index: 100;
    background-color: #00000099;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 100%;
    color: white;
    display: none;
}

.tutorial>span {
    position: absolute;
}

.tutorial>h1, .tutorial>h2 {
    margin: 0px;
}

.tutorial>div {
    position: absolute;
    border: 4px dashed white;
    border-radius: 8px;
}