/* @font-face {
    font-family: zkLOGO;
    src: url("../fonts/站酷小薇LOGO体.otf") format("opentype");
} */

body {
    background-color: gainsboro;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    font-size: 4em;
}

.StressedContent {
    font-size: xx-large;
}

.Hide {
    visibility: collapse;
}

.NotHide {
    visibility: visible;
}

.TestCanvas {
    border-radius: 16px;
    border-width: 6px;
    border-color: gray;
    border-style: inset;
}

.mainCanvas {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.noBorder {
    margin: auto;
    background-color: black;
}

.terminalPad {
    position: fixed;
    left: 0px;
    top: 0px;
    color: grey;
    background-color: rgba(128, 128, 128, 0.205);
    border-color: rgb(97, 97, 97);
    border-width: 2px;
    border-style: dashed;
    padding: 2px;
    padding-right: 8px;
}