/* @font-face {
    font-family: zkLOGO;
    src: url("../fonts/站酷小薇LOGO体.otf") format("opentype");
} */

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    font-size: 4em;
}

.StressedContent {
    font-size: xx-large;
}

.Hide {
    visibility: collapse;
}

.NotHide {
    visibility: visible;
}

.TestCanvas {
    border-radius: 16px;
    border-width: 6px;
    border-color: gray;
    border-style: inset;
}

/* Homepage */

.mainCanvas {
    margin: auto;
}

.Background {
    background-color: rgb(14, 16, 23);
}

.noBorder {
    margin: auto;
}

.innerDiv {
    text-align: center;
}

.terminalPad {
    position: fixed;
    left: 0px;
    top: 0px;
    color: grey;
    background-color: rgba(128, 128, 128, 0.205);
    border-color: rgb(97, 97, 97);
    border-width: 2px;
    border-style: dashed;
    padding: 2px;
    padding-right: 8px;
    transform: translate(25%, 26%) scale(1.5);
}

.UndergroundDiv {
    margin: auto;
    color: white;
}

.UndergroundWidth {
    max-width: 1200px;
    margin: auto;
    padding: 24px;
}

/* 主页的链接按钮块 */

.SectionButton {
    text-align: left;
    transition: 1.5s;
    position: relative;
    /* border-style: dashed; */
    /* border-width: 6px; */
    /* border-color: rgba(50, 52, 70, 0.4); */
    /* border-radius: 16px; */
}

.SectionButton:hover {
    /* background-color: rgba(206, 206, 206, 0.384); */
    transition: 0.3s;
}

/* 主页的按钮块标题 */

.SectionButtonTitle {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    font-size: 2.2em;
    color: white;
    /* text-shadow: 0px 0px 3px rgb(99, 99, 99); */
    float: left;
    position: absolute;
    bottom: 50%;
    right: 10%;
    text-decoration: underline;
    white-space: nowrap;
    transition: 1s;
}

/* 主页的按钮块文字 */

.SectionButtonText {
    color: rgba(255, 255, 255, 0.055);
    text-align: right;
    position: absolute;
    right: 10%;
    top: 50%;
    transition: 0.8s;
}

.SectionButton:hover>.SectionButtonText {
    color: rgba(0, 0, 0, 1);
    transition: 0.5s;
}

/* 主页的按钮块图片 */

.SectionImg {
    width: 100%;
    margin-bottom: 0px;
    border-radius: 8px;
    transition: 0.5s;
    position: relative;
    z-index: 5;
}

.DisplayImg {
    width: 100%;
    margin-bottom: 0px;
    border-radius: 8px;
    transition: 0.5s;
    position: relative;
    z-index: 5;
}

.Description {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    visibility: hidden;
}

.SectionLink {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 64px;
    line-height: 52px;
    color: rgba(0, 0, 0, 0);
    text-decoration: none;
    transition: 0.5s;
}

.SectionButton:hover .SectionLink {
    color: rgb(0, 0, 0);
    transition: 0.1f;
}

.SectionButton:hover .SectionLink:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 64px black;
    transition: 0.2s;
}

.SectionButton:hover .SectionImg {
    transform: scale(1.2) rotate(-10deg) translateX(28px);
    transition: 0.8s;
    box-shadow: 24px 18px 6px rgba(61, 61, 61, 0.336);
}

.SectionButton:hover .DisplayImg {
    transform: scale(1.4) rotate(-5deg) translateX(0);
    left: 0px;
    transition: 0.8s;
    box-shadow: 24px 18px 6px rgba(61, 61, 61, 0.336);
}

.SectionButton:hover .SectionButtonTitle {
    color: black;
    transition: 0.3s;
}

.SectionBackground {
    position: fixed;
    bottom: -20%;
    left: -20%;
    width: 140%;
    height: 180%;
    filter: saturate(8%) brightness(90%) blur(15px) opacity(0%);
    transition: 0.8s, z-index 0s;
    background-size: cover;
    background-position: center;
    z-index: -3;
}

.SectionBox {
    width: 100%;
    padding-top: 56px;
    padding-bottom: 56px;
}

.SectionBox:hover+.SectionBackground {
    height: 140%;
    transition: 1s, z-index 0s;
    filter: saturate(80%) brightness(90%) blur(46px) opacity(100%);
    z-index: -5;
}

.ImgBorder {
    width: 33%;
    height: fit-content;
    position: relative;
    padding: 10px;
    border-radius: 16px;
    border-style: dashed;
    border-width: 6px;
    border-color: rgba(50, 52, 70, 0.4);
}

.DisplayImgBorder {
    width: fit-content;
    height: fit-content;
    max-width: 33%;
    position: relative;
    padding: 10px;
    border-radius: 16px;
    border-style: dashed;
    border-width: 6px;
    border-color: rgba(50, 52, 70, 0.4);
}

.CenterAligned {
    text-align: center;
}

.HomepageLink {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: black;
    text-decoration: none;
    line-height: 19px;
    background-color: rgb(238, 228, 224);
    width: 100%;
    position: fixed;
    padding: 4px;
    padding-left: 36px;
    letter-spacing: 3px;
    white-space: nowrap;
    z-index: 10;
}

.SmallIcon {
    position: fixed;
    font-size: 48px;
    top: 18px;
    left: 4px;
    color: rgb(52, 59, 82);
}

.SmallIcon2 {
    position: fixed;
    font-size: 34px;
    top: 14px;
    left: 13px;
    color: rgb(91, 99, 124);
}

.SmallIcon3 {
    position: fixed;
    font-size: 16px;
    top: 28px;
    left: 36px;
    color: rgb(121, 128, 150);
}