.cm-s-codewarm.CodeMirror, .cm-s-codewarm .CodeMirror-gutters { background:none; color: var(--c0); height: max-content; }
.cm-s-codewarm .CodeMirror-gutters {background: var(--c0b); border-right: 0px;}
.cm-s-codewarm .CodeMirror-linenumber {color: var(--bgd);}
.cm-s-codewarm .CodeMirror-cursor { border-left: 1px solid var(--c0); }
.cm-s-codewarm div.CodeMirror-selected { background: var(--c1a); }
.cm-s-codewarm span.cm-meta { color: #83a598; }

.cm-s-codewarm span.cm-comment { color: #928374; }
.cm-s-codewarm span.cm-number, span.cm-atom { color: #d3869b; }
.cm-s-codewarm span.cm-keyword { color: #f84934; }

.cm-s-codewarm span.cm-variable { color: var(--c0); }
.cm-s-codewarm span.cm-variable-2 { color: #fe8019; }
.cm-s-codewarm span.cm-variable-3, .cm-s-codewarm span.cm-type { color: #fabd2f; }
.cm-s-codewarm span.cm-operator { color: #ebdbb2; }
.cm-s-codewarm span.cm-callee { color: #ebdbb2; }
.cm-s-codewarm span.cm-def { color: #ffa500; }
.cm-s-codewarm span.cm-property { color: #ffa500; }
.cm-s-codewarm span.cm-string { color: #b8bb26; }
.cm-s-codewarm span.cm-string-2 { color: #8ec07c; }
.cm-s-codewarm span.cm-qualifier { color: #8ec07c; }
.cm-s-codewarm span.cm-attribute { color: #8ec07c; }

.cm-s-codewarm .CodeMirror-activeline-background { background: #3c3836; }
.cm-s-codewarm .CodeMirror-matchingbracket { background: #928374; color:#282828 !important; }

.cm-s-codewarm span.cm-builtin { color: #fe8019; }
.cm-s-codewarm span.cm-tag { color: #fe8019; }

.cm-s-codewarm span.cm-mp-variable{ color: var(--c1); }
.cm-s-codewarm span.cm-mp-function{ color: var(--c1); }
.cm-s-codewarm .CodeMirror-activeline{ color: var(--bgdd); }
.cm-s-codewarm .CodeMirror-activeline-background{ background: var(--c1b); }
.cm-s-codewarm .CodeMirror-activeline-gutter{ background: var(--c1); }

.cm-s-codewarm.codeTextDiv {
    border: 1px solid var(--c1);
    overflow-y: auto;
    padding: 10px;
    font-family: monospace;
    flex-grow: 1;
    background: var(--bgd);
}