#bottomDiv {
    background-color: var(--bgd);
    color: var(--c1b);
}

#bottomFlex {
    display: flex;
    margin: 12px auto;
}

#bottomFlex>.bottomFlexContent {
    border-right: 1px solid var(--bg);
    padding: 0 12px;
    font-size: 13px;
    line-height: 1.5em;
    cursor: default;
}

#bottomFlex>.bottomFlexContent:last-child {
    border-right: none;
}

#bottomFlex>.bottomFlexContent>a {
    color: var(--c1a);
    text-decoration: none;
}

#bottomFlex>.bottomFlexContent>a:hover {
    color: var(--c1);
}

.bottomTitle {
    text-align: justify;
    text-align-last: justify;
    font-weight: lighter;
    color: var(--c1a);
}

.bottomLogo {
    background-size: contain;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    transition: 0.2s;
    margin: 4px auto;
    opacity: 0.5;
}

.bottomLogo:hover {
    filter: brightness(130%) drop-shadow(0 0 2px var(--c1));
    opacity: 1;
}

#moocLogoBottom {
    background-image: var(--mooc-logo-bottom);
}

#ssLogoBottom {
    background-image: var(--ss-logo-bottom);
}

#hustLogoBottom {
    background-image: var(--hust-logo-bottom);
}

#bottomDiv>#rights {
    padding: 8px;
    color: var(--c0b);
    text-align: center;
    font-size: 12px;
}