html {
    min-block-size: -webkit-fill-available;
    min-height: 100%;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-block-size: -webkit-fill-available;
    overflow-x: hidden;
}

a {
    color: var(--c1);
}

a:active {
    color: var(--c0b);
}

hr {
    border-color: var(--bg);
    border-width: 1px;
}

/**管线相关界面的通常主题 */

body {
    background: var(--bg) var(--texImg);
    color: var(--c0);
    margin: 0;
    font-family: sans-serif;
}

body::-webkit-scrollbar, #bufferDiv::-webkit-scrollbar, #codeDiv>.codeTextDiv::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-thumb, #bufferDiv::-webkit-scrollbar-thumb, #codeDiv>.codeTextDiv::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: var(--c1);
}

body::-webkit-scrollbar-track, #bufferDiv::-webkit-scrollbar-track, #codeDiv>.codeTextDiv::-webkit-scrollbar-track {
    border-radius: 1px;
    background: var(--c1b);
}

[contenteditable=plaintext-only] {
    -webkit-user-modify: read-write-plaintext-only;
    -moz-user-modify: read-write-plaintext-only;
    white-space: nowrap;
}

System {
    display: none;
}

#codeDocument {
    position: absolute;
    top: 100px;
    left: 100px;
    width: fit-content;
    height: fit-content;
    background: var(--c0a);
    z-index: 5;
    border-radius: 8px;
    display: none;
    overflow: hidden;
}

#codeDocument>.closeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 16px;
    width: 16px;
    z-index: 10;
    background: url("/JQuery/images/ui-icons_777777_256x240.png");
    background-size: 1600% 1500%;
    background-position: -500% -800%;
    opacity: 30%;
    border-radius: 8px;
    transition: 0.2s;
}

#codeDocument>.closeBtn:hover {
    background: url("/JQuery/images/ui-icons_c98000_256x240.png");
    background-size: 1600% 1500%;
    background-position: -493.5% -800%;
    filter: hue-rotate(310deg);
    opacity: 100%;
    transition: 0s;
}

#codeDocumentText {
    position: relative;
    padding: 4px 8px;
    white-space: pre;
    color: var(--bgd);
    user-select: none;
    min-height: 100%;
}

#codeDocumentContent {
    resize: both;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 400px;
}

#codeDocumentContent::-webkit-scrollbar {
    opacity: 0%;
    width: 24px;
}

#codeDocumentContent::-webkit-scrollbar-thumb {
    background: none;
}

#codeDocumentContent::-webkit-scrollbar-thumb:hover {
    background-color: var(--c1b);
    border-radius: 8px;
}

#codeDocumentContent::-webkit-scrollbar-track {
    background: none;
}

#codeDocumentContent::-webkit-scrollbar-corner {
    background: none;
}

#codeDocumentContent::-webkit-resizer {
    background: url("/JQuery/images/ui-icons_777777_256x240.png");
    background-size: 1600% 1500%;
    background-position: -1100% -300%;
}