/* 管线编辑器主题 */

:root {
    --bg: #5b423a;
    /* 淡铁灰 */
    --bga: #b46d4f;
    --bgd: #3d2c27;
    --bgdd: rgb(34, 25, 22);
    --c0: #f8ebe6;
    /* 草珠红 */
    --c0a: #f8ebe6bb;
    --c0b: #f8ebe666;
    --c1: #eea08c;
    /* 淡罂粟红 */
    --c1a: #eea08cbb;
    --c1b: #eea08c66;
    --c2: #d42517;
    /* 鹤顶红 */
    --c2a: #d42517bb;
    --c2b: #d4251766;
    --c2l: #ff833a;
    --c3: #ffa500;
    --c4: #8ec07c;
    --c4a: #8ec07cbb;
    --c4b: #8ec07c66;
    --c5: #131124;
    /* 暗蓝紫 */
    --c6: #d1c2d3;
    /* 淡牵牛紫 */
    --c6a: #d1c2d3bb;
    --c6b: #d1c2d366;
    --c7: #ec2d7a;
    /* 藏花红 */
    --c7a: #ec2d7abb;
    --c7b: #ec2d7a66;
    --texImg: url(img/texture.png);
    --logo-mid: url(img/logo_mid.png);
    --mooc-logo-bottom: url(img/logo_bottom.png);
    --ss-logo-bottom: url(img/SSElogo.png);
    --hust-logo-bottom: url(img/HUSTLogo.png);
}