/* 管线编辑器主题 */

:root {
    --bg: #2b2a29;
    --bga: #eea08c;
    --bgd: #141414;
    --bgdd: #000000;
    --c0: #d8dbd6;
    --c0a: #d8dbd6bb;
    --c0b: #d8dbd666;
    --c1: #b9d635;
    --c1a: #b9d635bb;
    --c1b: #b9d63566;
    --c2: #d42517;
    --c2a: #d42517bb;
    --c2b: #d4251766;
    --c2l: #ff833a;
    --c3: #ef9300;
    --c4: #b3a090;
    --c4a: #b3a090bb;
    --c4b: #b3a09066;
    --c5: #c74545;
    --c6: #afaf6a;
    --c6a: #afaf6abb;
    --c6b: #afaf6a66;
    --c7: #20b2de;
    --c7a: #20b2debb;
    --c7b: #20b2de66;
    --texImg: url(img/texture.png);
    --logo-mid: url(img/logo_mid.png);
    --mooc-logo-bottom: url(img/logo_bottom.png);
    --ss-logo-bottom: url(img/SSElogo.png);
    --hust-logo-bottom: url(img/HUSTLogo.png);
}