/**管线数据控件外观,整个网站通用的 */

.codeTextDiv, .contentDiv {
    margin: 6px 2px;
    position: relative;
}

/* 工具按钮 */

.widgetTool {
    position: absolute;
    right: 16px;
    top: 16px;
    height: 16px;
    width: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.widgetTool>.toolImg {
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 16px;
    line-height: 12px;
    border-radius: 50%;
    /* border: 1px solid var(--c1); */
    color: var(--c1);
    user-select: none;
    transition: 0.2s;
}

.widgetTool:hover>.toolImg {
    transform: scale(0.1);
}

.widgetTool>.toolPanel {
    position: absolute;
    height: 48px;
    width: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1) rotate(-45deg);
    transition: 0.2s;
}

.widgetTool:hover>.toolPanel {
    transform: translate(-50%, -50%) scale(1);
}

.widgetTool>.toolPanel>div {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 12px;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    border-radius: 50%;
    border: 1px solid #00000000;
    color: var(--c1a);
    cursor: pointer;
    transition: 0.1s;
}

.widgetTool>.toolPanel>div:hover {
    border-color: var(--c1);
    color: var(--c0);
}

.widgetTool>.toolPanel>div>tooltip {
    font-size: 9px;
    right: 120%;
    top: 50%;
    transform: translateY(-50%);
    color: var(--c0a);
}

.widgetTool>.toolPanel>div:hover>tooltip {
    visibility: visible;
}

/* 代码项 */

.codeTextDiv [contenteditable=plaintext-only] {
    /* min-height: 150px; */
    white-space: normal;
}

.codeTextDiv>.args {
    padding: 3px;
}

/* 数据项 */

.contentDiv {
    border: 1px solid var(--c1b);
    border-radius: 2px;
    padding: 4px;
}

.contentDiv:hover{
    border-color: var(--c1a);
}

.contentDiv:focus-within{
    border-color: var(--c1);
}

.contentDiv>.name {
    position: absolute;
    color: var(--c0);
    right: 0px;
    top: 0px;
    font-size: 16px;
    margin: 1px 0px;
    line-height: 1em;
}

.contentDiv>.description {
    margin: 0px;
    position: absolute;
    right: 0px;
    top: 16px;
    color: var(--c1a);
    font-size: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Vector */

.contentDiv>.x, .contentDiv>.y, .contentDiv>.z, .contentDiv>.w {
    display: inline;
    color: var(--c0a);
    padding: 0 4px 0 3px;
}

.contentDiv>.x {
    margin-left: 7px;
}

.contentDiv.MPF4>.z:after, .contentDiv.MPF4>.y:after, .contentDiv.MPF4>.x:after, .contentDiv.MPF3>.y:after, .contentDiv.MPF3>.x:after, .contentDiv.MPF2>.x:after {
    content: ",";
    color: var(--c1);
}

.contentDiv.MPF4>.x:before, .contentDiv.MPF3>.x:before, .contentDiv.MPF2>.x:before, .contentDiv.MPF1>.x:before {
    content: "(";
    color: var(--c1);
}

.contentDiv.MPF4>.w:after, .contentDiv.MPF3>.z:after, .contentDiv.MPF2>.y:after, .contentDiv.MPF1>.x:after {
    content: " )";
    color: var(--c1);
}

/* Matrix */

.contentDiv.MPMatrix {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    grid-template-rows: repeat(4, 1fr);
    gap: 4px;
    grid-auto-flow: row dense;
}

.contentDiv.MPMatrix>.edgeL, .contentDiv.MPMatrix>.edgeR {
    white-space: pre;
    line-height: 87%;
    grid-row: 1 / 5;
    color: var(--c1);
    user-select: none;
}

.contentDiv.MPMatrix>.edgeL {
    grid-column: 1;
}

.contentDiv.MPMatrix>.edgeR {
    grid-column: 6;
}

.contentDiv.MPMatrix>[class^=m] {
    white-space: pre;
    min-width: 13px;
    padding-right: 6px;
    color: var(--c0a);
}

.contentDiv.MPMatrix>[class^=m]:hover {
    color: var(--c0);
}