/* 布局 */

body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-block-size: -webkit-fill-available;
}

#topDiv {
    background-color: var(--bgd);
    height: 72px;
}

#mainDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}

#sideDiv {
    flex-basis: 200px;
    margin: 0 12px;
}

#artDiv {
    position: relative;
    flex-basis: 800px;
    flex-grow: 1;
    max-width: 1000px;
    margin: 0 12px;
    padding-bottom: 36px;
}

#artDiv>p, #artDiv>li {
    text-indent: 2em;
}

#bottomDiv {
    height: 64px;
    text-align: center;
    padding: 8px 32px;
    background-color: var(--bgd);
    color: var(--c0b);
}

/* 控件相关 */

mpData {
    display: none;
}

mpWidget {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contentDiv {
    display: inline-block;
    padding-top: 32px;
}

.contentDiv>.name {
    left: 4px;
    top: 0px;
}

.contentDiv>.description {
    left: 4px;
    top: 16px;
}

.contentDiv.MPMatrix {
    display: inline-grid;
}

.contentDiv.MPTexture>.width {
    position: absolute;
    top: 3px;
    right: 4px;
    font-size: 12px;
    line-height: 12px;
    color: var(--c0a);
}

.contentDiv.MPTexture>.width:before {
    content: 'width:';
}

.contentDiv.MPTexture>.height {
    position: absolute;
    top: 15px;
    right: 4px;
    font-size: 12px;
    line-height: 12px;
    color: var(--c0a);
}

.contentDiv.MPTexture>.height:before {
    content: 'height:';
}

.codeTextDiv {
    flex-basis: 220px;
}

/* 响应式布局 - 屏幕尺寸小于 800px 时，两列布局改为上下布局 */

@media screen and (max-width: 1000px) {
    #sideDiv {
        flex-grow: 1;
    }
}

#introSec {
    padding: 16px 32px;
    background-color: var(--bgd);
    border-top: 12px dashed var(--bg);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: var(--c0a);
    margin: 0;
}

#linkSec {
    position: absolute;
    width: 100%;
    height: 36px;
    bottom: 0;
    background-color: var(--bgd);
    border-bottom: 4px dashed var(--bg);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#linkSec>div {
    position: absolute;
    top: 8px;
    color: var(--c1a);
    transition: 0.2s;
    cursor: pointer;
}

#linkSec>div:hover {
    color: var(--c0);
    padding: 0 4px;
}

#linkSec>div:first-child {
    left: 8px;
}

#linkSec>div:first-child::before {
    content: '⇜';
}

#linkSec>div:last-child {
    right: 8px;
}

#linkSec>div:last-child::after {
    content: '⇝';
}