#bottomDiv {
    background-color: var(--bgd);
    color: var(--c0a);
}

#bottomFlex {
    display: flex;
    justify-content: center;
    margin: 12px 0;
}

#bottomFlex>.bottomFlexContent {
    border-right: 1px solid var(--bg);
    padding: 0 12px;
    font-size: 13px;
}

#bottomFlex>.bottomFlexContent:last-child {
    border-right: none;
}

.bottomTitle {
    text-align: center;
    font-weight: lighter;
    color: var(--c1a);
}

#logoBottom {
    display: block;
    background-image: var(--logo-bottom);
    background-size: contain;
    background-repeat: no-repeat;
    width: 92px;
    height: 93px;
    cursor: pointer;
    transition: 0.2s;
    margin: 4px auto;
}

#logoBottom:hover {
    filter: brightness(130%) drop-shadow(0 0 2px var(--c1));
}

#bottomDiv>#rights {
    padding: 8px;
    color: var(--c0b);
    text-align: center;
    font-size: 12px;
}