#bufferDiv>.name {
    float: right;
    margin: 0 0 20px 8px;
    font-size: 2em;
}
#bufferDiv>.description {
    float: right;
    position: absolute;
    top: 40px;
    right: 2px;
    margin: 0;
    color: gray;
    font-size: 0.6em;
}
