/* 布局 */

#bufferDiv {
    position: relative;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2px 2px 2px 2px;
}

/* 标题 */

#bsTitleDiv>div {
    margin: 4px;
    margin-left: 6px;
    font-size: 20px;
    color: var(--c0a);
    float: left;
    width: fit-content;
    white-space: nowrap;
}

#bsTitleDiv>span {
    margin-top: 7px;
    font-size: 9px;
    color: var(--c1b);
    word-break: break-all;
    line-height: 12px;
    word-wrap: break-word;
    white-space: normal;
}

/* 内容 */

.contentDiv {
    border: 1px solid var(--c1a);
    border-radius: 2px;
    margin: 6px 2px;
    padding: 4px;
    display: flex;
    position: relative;
}

.contentDiv>.dragHandler {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--c1);
    background: var(--bg);
    cursor: none;
    margin-right: -8px;
    text-align: center;
    line-height: 16px;
    color: var(--c1b);
}
.contentDiv>.dragHandler:hover{
    color: var(--c1);
}

.contentDiv>.name {
    position: absolute;
    color: var(--c0);
    right: 20px;
    top: 0px;
    font-size: 16px;
    margin: 1px 0px;
    line-height: 1em;
}

.contentDiv>.description {
    margin: 0px;
    position: absolute;
    right: 20px;
    top: 16px;
    color: gray;
    font-size: 0.5em;
}

.contentDiv.MPF1 {}

.contentDiv.MPF1>.name {}

.contentDiv.MPF4>.z:after, .contentDiv.MPF4>.y:after, .contentDiv.MPF4>.x:after, .contentDiv.MPF3>.y:after, .contentDiv.MPF3>.x:after, .contentDiv.MPF2>.x:after {
    content: ",";
}

.contentDiv.MPF4>.x:before, .contentDiv.MPF3>.x:before, .contentDiv.MPF2>.x:before, .contentDiv.MPF1>.x:before {
    content: "[";
}

.contentDiv.MPF4>.w:after, .contentDiv.MPF3>.z:after, .contentDiv.MPF2>.y:after, .contentDiv.MPF1>.x:after {
    content: "]";
}

.contentDiv.MPF4>.x, .contentDiv.MPF3>.x, .contentDiv.MPF2>.x, .contentDiv.MPF1>.x {
    color: var(--c0a);
    flex-grow: 1;
}

.contentDiv.MPF4>.y, .contentDiv.MPF3>.y, .contentDiv.MPF2>.y {
    color: #fe8019;
    flex-grow: 1;
}

.contentDiv.MPF4>.z, .contentDiv.MPF3>.z {
    color: #fe5f19;
    flex-grow: 1;
}

.contentDiv.MPF4>.w {
    color: #fe19db;
    flex-grow: 1;
}