:root {
    --toolHeight: 300px;
}

/* 顶端的部分 */

/* 基本布局 */

#topDiv {
    display: -webkit-box;
}

#topDiv>#toolDiv {
    position: absolute;
    height: 70px;
    width: 20px;
    right: 0;
    top: 0;
    transition: 0.1s;
}

#topDiv>#sectionDiv {
    position: absolute;
    align-items: center;
    display: none;
    height: 100%;
    left: 0;
    right: 24px;
    border-bottom: 1.5px dashed var(--c0b);
}

#topDiv>#uniformDiv {
    position: absolute;
    align-items: center;
    display: flex;
    height: 100%;
    left: 0;
    right: 24px;
    border-bottom: 1.5px dashed var(--c0b);
}

/* 工具栏 */

#topDiv>#toolDiv:hover {
    height: var(--toolHeight);
}

#topDiv>#toolDiv>#toolBackground {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bg);
    border-bottom-left-radius: 6px;
    border-left: 2px solid var(--c0);
    transition: 1.2s;
    z-index: 1;
}

#topDiv>#toolDiv:hover>#toolBackground {
    box-shadow: -4px 0 10px 0px var(--c0b);
}

#topDiv>#toolDiv>#toolTouchArea {
    position: absolute;
    left: 99%;
    width: 1%;
    top: 0;
    height: var(--toolHeight);
    z-index: 2;
}

#topDiv>#toolDiv>#toolYClamper {
    position: absolute;
    right: 0px;
    width: 232px;
    height: 100%;
    overflow: hidden;
}

#topDiv>#toolDiv>#toolYClamper>.toolSection {
    position: relative;
    margin-left: auto;
    margin-bottom: -2px;
    margin-right: -1px;
    padding-right: 1px;
    padding-top: 2px;
    width: 20px;
    border-bottom: 3px double var(--c0b);
    z-index: 2;
}

#topDiv>#toolDiv>#toolYClamper>.toolSection>div {
    position: relative;
    width: 14px;
    height: 14px;
    line-height: 14px;
    margin: 4px auto;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-family: fantasy;
    color: var(--c0a);
}

#topDiv>#toolDiv>#toolYClamper>.toolSection>div:hover {
    border: 2px outset var(--c1);
    margin: 2px auto;
    transition: 0.2s;
    color: var(--c1);
}

#topDiv>#toolDiv>#toolYClamper>.toolSection>div:active {
    border-width: 0px;
    margin: 4px auto;
    color: var(--c1);
}

#topDiv>#toolDiv>#toolYClamper>.toolSection>div:hover>tooltip {
    visibility: visible;
    right: 17px;
    top: 50%;
    color: var(--c1);
    text-shadow: 0 0 5px var(--bgd);
    transform: translateY(-50%);
    background: var(--bgd);
    border-radius: 4px;
    padding: 4px;
}
#topDiv>#toolDiv>#toolYClamper>.toolSection>div:hover>tooltip::after{
    content: '>';
    margin-left:5px;
}

/* 数据按钮 */

.bufferSection {
    position: relative;
    flex-grow: 1;
    flex-basis: 4px;
    flex-wrap: nowrap;
    min-width: 64px;
    max-width: 64px;
    height: 64px;
    transition: 0.2s;
}

.bufferSection>point {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid var(--c0);
    border-radius: 50%;
    transition: 0.6s;
}

.bufferSection:hover>point {
    border: 4px solid var(--c0);
    transition: 0.2s;
    box-shadow: 0 0 14px 3px var(--c0b);
}

.bufferSection:hover>tooltip {
    visibility: visible;
    top: 50%;
    left: 40px;
    color: var(--c0);
    text-shadow: 0 0 4px var(--c0a);
    transform: translateY(-50%) translateY(-1.2px);
}

.bsSelected>point {
    border: 3px solid var(--c0);
    transition: 0.2s;
    box-shadow: 0 0 0px 0px var(--c1);
}

.bufferSection>ul {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    display: block;
}

.bufferSection>ul>.placeholder {
    display: block;
    position: absolute;
    background-color: var(--c1a);
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.bufferSection .bufferOperator {
    display: block;
    position: absolute;
    background: none;
    transition: 0.2s;
    width: 10px;
    height: 10px;
    cursor: none;
}

.bufferSection .bufferOperator.ui-sortable-helper {
    transition: none;
}

.bufferOperator>div {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0.6);
    transition: transform 0.1s;
}

.bufferOperator:hover>div {
    transform: translateX(-50%) translateY(-50%) scale(1);
    transition: transform 0.1s;
}

.bufferOperator:hover>tooltip {
    visibility: visible;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

/* 代码按钮 */

.codeSection {
    position: relative;
    flex-grow: 1;
    flex-basis: 4px;
    flex-wrap: nowrap;
    height: 16px;
}

.codeSection>line {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 0.14vh;
    margin-left: -26px;
    margin-right: -26px;
    background-color: var(--c0a);
    transition: 0.5s;
    z-index: -1;
}

.codeSection:hover>line {
    height: 0.18vh;
    background-color: var(--c0);
    box-shadow: 0 0 8px 1px var(--c0b);
    transition: 0.1s;
}

.codeSection:hover>tooltip {
    visibility: visible;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--c0);
    text-shadow: 0 0 4px var(--c0a);
    ;
    padding-left: 50px;
    padding-right: 50px;
}

.codeSection.osSelected {}

.codeSection>ul {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.codeOperator {
    position: relative;
    display: block;
    margin: 0;
    flex-grow: 1;
    min-width: 12px;
    max-width: 12px;
    height: 100%;
    cursor: none;
}

.codeSection>ul>.placeholder {
    position: relative;
    display: block;
    flex-grow: 1;
    width: 12px;
    margin: 0 2px;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--c1a);
    border-radius: 20%;
}

.codeSection>ul>.ui-sortable-helper {
    flex-grow: 0;
}

/* .codeSection>ul>.margin-helper {
    position: relative;
    display: block;
    flex-grow: 0;
    margin: auto;
} */

.codeOperator>div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    height: 100%;
    width: 60%;
    border-radius: 30%;
    border: 1px solid var(--c1);
    background-color: var(--c1b);
    transition: 0.5s;
}

.codeOperator:hover>div {
    transform: translateY(-50%) scale(1.2);
    transition: 0.1s;
    box-shadow: 0 0 6px 0px var(--c1a);
}

.codeOperator:hover>tooltip {
    visibility: visible;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--c1);
}

/* 顶端按钮 */

.bufferSection>.top-remove {
    position: absolute;
    top: 50%;
    right: 100%;
    width: 12px;
    height: 12px;
    transform: translateY(40%);
    color: var(--c2a);
    text-align: center;
    line-height: 10px;
    font-size: 16px;
    transition: 0.5s visibility 0;
    border-radius: 50%;
    border: 1px solid var(--c2a);
    cursor: none;
    visibility: hidden;
}

.bufferSection>.top-remove:hover {
    transform: translateY(70%) scale(2) translateX(20%);
    color: var(--c2);
    transition: 0.1s;
    border: 0px solid var(--c2);
}

.bufferSection>.top-remove:hover>tooltip {
    visibility: visible;
    top: 50%;
    right: -9px;
    transform: translateY(-50%)scale(0.5);
    color: var(--c2);
}

.codeSection>.top-add {
    position: absolute;
    bottom: 50%;
    right: 0%;
    width: 12px;
    height: 12px;
    transform: translateY(-40%);
    color: var(--c1a);
    text-align: center;
    line-height: 10px;
    font-size: 16px;
    transition: 0.5s visibility 0;
    border-radius: 50%;
    border: 1px solid var(--c1a);
    cursor: none;
    visibility: hidden;
}

.codeSection>.top-add:hover {
    transform: translateY(-70%) scale(2) translateX(-30%);
    color: var(--c1);
    transition: 0.1s;
    border: 0px solid var(--c1);
}

.codeSection>.top-add:hover>tooltip {
    visibility: visible;
    top: 50%;
    right: -7px;
    transform: translateY(-50%) scale(0.5);
    color: var(--c1);
}

/* 主要信息 */

#mpInfo {
    position: relative;
    max-width: fit-content;
    height: 100%;
    flex-grow: 1;
}

#mpInfo>h2 {
    margin: 0 0 0 6px;
    font-size: 2em;
    color: var(--c0);
}

#mpInfo>p {
    top: 40px;
    left: 2px;
    margin: 0 0 0 6px;
    color: var(--c1a);
    font-size: 0.6em;
}