/* 布局 */

#bufferDiv {
    position: relative;
    overflow-y: auto;
}

/* 标题 */

#bsTitleDiv>div {
    margin: 4px;
    font-size: 20px;
    color: var(--c0a);
    float: left;
    width: fit-content;
    white-space: nowrap;
}

#bsTitleDiv>span {
    margin-top: 7px;
    font-size: 9px;
    color: var(--c1b);
    word-break: break-all;
    line-height: 12px;
    word-wrap: break-word;
    white-space: normal;
}

.contentDiv {
    border: 1px solid var(--c1a);
    border-radius: 2px;
    margin: 2px;
    padding: 4px;
    display: -webkit-box;
    position: relative;
}

.contentDiv>.name {
    position: absolute;
    background-color: #121212;
    right: 0px;
    top: 0px;
    font-size: 0.7em;
    margin: 1px 0px;
    line-height: 1em;
}

.contentDiv>.description {
    margin: 0px;
    position: absolute;
    right: 0px;
    top: 11px;
    color: gray;
    font-size: 0.5em;
}

.contentDiv.MPF1 {}

.contentDiv.MPF1>.name {}

.contentDiv.MPF4>.z:after, .contentDiv.MPF4>.y:after, .contentDiv.MPF4>.x:after, .contentDiv.MPF3>.y:after, .contentDiv.MPF3>.x:after, .contentDiv.MPF2>.x:after {
    content: ",";
}

.contentDiv.MPF4>.x:before, .contentDiv.MPF3>.x:before, .contentDiv.MPF2>.x:before, .contentDiv.MPF1>.x:before {
    content: "[";
}

.contentDiv.MPF4>.w:after, .contentDiv.MPF3>.z:after, .contentDiv.MPF2>.y:after, .contentDiv.MPF1>.x:after {
    content: "]";
}

.contentDiv.MPF4>.x, .contentDiv.MPF3>.x, .contentDiv.MPF2>.x, .contentDiv.MPF1>.x {
    color: orange;
    flex-grow: 1;
}

.contentDiv.MPF4>.y, .contentDiv.MPF3>.y, .contentDiv.MPF2>.y {
    color: #fe8019;
    flex-grow: 1;
}

.contentDiv.MPF4>.z, .contentDiv.MPF3>.z {
    color: #fe5f19;
    flex-grow: 1;
}

.contentDiv.MPF4>.w {
    color: #fe19db;
    flex-grow: 1;
}