/* 布局 */

#bufferDiv {
    position: relative;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2px 2px 2px 2px;
}

/* 标题 */

#bsTitleDiv>div {
    margin: 4px;
    margin-left: 6px;
    font-size: 20px;
    color: var(--c0a);
    float: left;
    width: fit-content;
    white-space: nowrap;
}

#bsTitleDiv>span {
    margin-top: 7px;
    font-size: 9px;
    color: var(--c1b);
    word-break: break-all;
    line-height: 12px;
    word-wrap: break-word;
    white-space: normal;
}

/* 内容 */

.contentDiv {
    border: 1px solid var(--c1a);
    border-radius: 2px;
    margin: 6px 2px;
    padding: 4px;
    position: relative;
    height: fit-content;
}

.contentDiv>.dragHandler {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid var(--c1);
    background: var(--bg);
    cursor: none;
    right: -5px;
    top: 5px;
    text-align: center;
    font-size: 14px;
    line-height: 12px;
    align-self: center;
    color: var(--c1b);
}

.contentDiv>.dragHandler:hover {
    color: var(--c0);
    box-shadow: 0 0 5px 1px var(--c0a);
}

.contentDiv>.name {
    position: absolute;
    color: var(--c0);
    right: 20px;
    top: 0px;
    font-size: 16px;
    margin: 1px 0px;
    line-height: 1em;
}

.contentDiv>.description {
    margin: 0px;
    position: absolute;
    right: 20px;
    top: 16px;
    color: gray;
    font-size: 0.5em;
}

/* Vector */

.contentDiv>.x, .contentDiv>.y, .contentDiv>.z, .contentDiv>.w {
    display: inline;
    color: var(--c0a);
    padding: 0 4px 0 3px;
}

.contentDiv>.x {
    margin-left: 7px;
}

.contentDiv.MPF4>.z:after, .contentDiv.MPF4>.y:after, .contentDiv.MPF4>.x:after, .contentDiv.MPF3>.y:after, .contentDiv.MPF3>.x:after, .contentDiv.MPF2>.x:after {
    content: ",";
    color: var(--c1);
}

.contentDiv.MPF4>.x:before, .contentDiv.MPF3>.x:before, .contentDiv.MPF2>.x:before, .contentDiv.MPF1>.x:before {
    content: "(";
    color: var(--c1);
}

.contentDiv.MPF4>.w:after, .contentDiv.MPF3>.z:after, .contentDiv.MPF2>.y:after, .contentDiv.MPF1>.x:after {
    content: " )";
    color: var(--c1);
}

/* Matrix */

.contentDiv.MPMatrix {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    grid-template-rows: repeat(4, 1fr);
    gap: 4px;
    grid-auto-flow: row dense;
}

.contentDiv.MPMatrix>.edgeL, .contentDiv.MPMatrix>.edgeR {
    white-space: pre;
    line-height: 87%;
    grid-row: 1 / 5;
    color: var(--c1);
    user-select: none;
}

.contentDiv.MPMatrix>.edgeL {
    grid-column: 1;
}

.contentDiv.MPMatrix>.edgeR {
    grid-column: 6;
}

.contentDiv.MPMatrix>[class^=m] {
    white-space: pre;
    min-width: 13px;
    padding-right: 6px;
    color: var(--c0a);
}

.contentDiv.MPMatrix>[class^=m]:hover {
    color: var(--c0);
}