/* 背景 */

body {
    background-color: var(--bg);
    color: white;
    margin: 0;
    overflow-x: hidden;
    background-image: var(--texImg);
}

.tutorial {
    text-shadow: 0 0 6px var(--c1);
}

.tutorial>div {
    border-color: var(--c0a);
}

/* 宏观布局 */

#topDiv {
    position: relative;
    width: 100%;
    height: 64px;
}

#codeDiv {
    position: absolute;
    left: 0%;
    right: 67%;
    top: 68px;
    bottom: 0%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#bufferDiv {
    position: absolute;
    left: 33%;
    right: 24px;
    top: 68px;
    bottom: 0%;
    overflow-y: auto;
}

#bufferDiv::-webkit-scrollbar {
    display: none;
}


/* 下方的部分 */