/* 背景 */

body {
    background-color: var(--bg);
    color: white;
    margin: 0;
    overflow-x: hidden;
    background-image: var(--texImg);
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.tutorial {
    text-shadow: 0 0 6px var(--c1);
}

.tutorial>div {
    border-color: var(--c0a);
}

/* 宏观布局 */

#topDiv {
    position: relative;
    height: 64px;
}

#middleDiv {
    position: relative;
    margin-bottom: 0;
    height: auto;
    display: flex;
    flex-grow: 1;
}

#leftDiv {
    flex-grow: 3.3;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    max-width: 33%;
}

#rightDiv {
    flex-grow: 6.6;
}

#bottomDiv {
    position: fixed;
    bottom: 0;
}

#bsTitleDiv {
    flex-grow: 1;
}

#codeDiv {
    position: relative;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: hidden;
}

#bufferDiv {
    position: absolute;
    left: 33%;
    right: 24px;
    top: 68px;
    bottom: 0%;
    overflow-y: auto;
}

#bufferDiv::-webkit-scrollbar {
    display: none;
}

/* 下方的部分 */