#welcomeSec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--bgd);
    height: 100vh;
    user-select: none;
    text-shadow: 0 0 4px var(--c1b);
}

#welcomeSec>h1 {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 74px;
    font-weight: lighter;
    margin: 0;
}

#welcomeSec>p {
    color: var(--c0b);
    word-spacing: 32px;
}

#mainDiv {
    display: flex;
    justify-content: center;
}

#mainDiv>div {
    max-width: 1064px;
    flex-grow: 1;
}

#introSec {
    padding: 8px 32px;
    background-color: var(--bgd);
    border-top: 12px dashed var(--bg);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: var(--c0a);
}

.articleGroup {
    position: relative;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    display: flex;
    height: 256px;
    border-bottom: 8px dashed var(--bgd);
}

.articleGroup>.articleGroupTitle {
    position: relative;
    padding: 32px 32px;
    width: 36%;
}

.articleGroup>.articleGroupTitle>h2 {
    font-size: 36px;
    margin: 0;
}

.articleGroup>.articleGroupTitle>p {
    font-size: 15px;
    color: var(--c0b);
    margin: 0;
}

.articleGroup>.articleGroupTitle>span {
    position: absolute;
    right: -58px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 128px;
    color: var(--c1b);
    user-select: none;
    transition: 0.1s;
}

.articleGroup>.articleGroupTitle:hover>span {
    color: var(--c1a);
    transform: translateY(-50%) translateX(12px);
}

.articleGroup>.articleGroupInfo {
    position: relative;
    margin: 42px 32px;
    padding: 0;
    color: var(--c0a);
    width: 64%;
    overflow-y: auto;
}

.articleGroup>.articleGroupInfo::-webkit-scrollbar {
    display: none;
}

.articleGroup>.articleGroupInfo>a {
    background-color: var(--bgd);
    border-radius: 5px;
    padding: 8px;
    margin: 2px 6px;
    color: #00000000;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid var(--c1b);
    text-shadow: 0 0 0.1px var(--c1a);
}

.articleGroup>.articleGroupInfo>a:hover {
    border: 1px solid var(--c1);
    transform: translateX(6px);
    color: var(--c0);
    text-shadow: 0 0 4px var(--c1a);
    padding-left: 12px;
}

#editorSec {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgd);
    border-bottom: 4px dashed var(--bg);
}

#editorSec>a {
    color: var(--c0b);
    font-size: 32px;
    text-align: center;
    width: fit-content;
}

#bottomFlex {
    width: fit-content;
}